header {
    background: url('../images/bg-tablet-pattern.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    .header__nav {
        padding: 10vh 7vw;
        display: flex;
        justify-content: space-between;
        .header-logo {
            padding-top: 3px;
            width: 120px;
        }
        .burger-menu {
            width: 40px;
            background: url('../images/icon-hamburger.svg') no-repeat center;
            margin-bottom: 5px;
        }
    }
    .header__nav-menu {
        padding-top: 10vh;
        padding-left: 45vw;
        display: none;
        img{
            width: 27vw;
        }
        
    }

    .hero__container {
        display: flex;
        flex-direction: column-reverse;
        .hero__container-img {
            display: flex;
            justify-content: center;
            img {
                width: 80vw;
            }
        }
        .hero__container-text {
            text-align: center;
            h1 {
                color: $dark-blue;
                font-size: 2.4rem;
                text-align: center;
                font-weight: 700;
                margin-bottom: 0;
            }
            p {
                padding: 0 30px;
                color: $Dark-Grayish-Blue;
            }
            .header-button {
                background: $bright-red;
                color: white;
                width: 140px;
                height: 40px;
                border: 0;
                border-radius: 20px;
                box-shadow: 0 .375em 0.5em $bright-red-shadow;
            }
        }
    }
    .nav-links {
        display: none;
    }

    @include desktop {
        .burger-menu {
            display: none;
        }
        .header__nav-menu {
            display: flex;
            padding-top: 0;
            .menu-links {
                display: flex;
                align-items: center;
                list-style: none;
                li {
                    margin-right: 15px;
                }
            }
        }
        .header__nav {
            align-items: center;
        }
        .hero__container {
            flex-direction: row;
            justify-content: space-around;
            &-img {
                width: 45vw;
                img {
                    width: 100%;
                }
            }
            &-text {
                width: 40vw;
            }
        }
    }
}